[Config]
path=/home/arun/bin/

[Process]
bias=True
overscan=True
cosmic=False
csmc_clip=25

[Headers]
objname=OBJECT
dateobs=DATE-OBS
timeobs=UT
exptime=EXPTIME        
objtype=OBJ-TYPE
reseltype=RES
directory=./

[Keys]
reselkeylow=Low
reselkeyhigh=High
biaskey=0
flatkey=2
calibkey=3
objectkey=4

[Fits]
index=1

[Extraction]
binsize=5
binres=.5


